@use './font.scss' as font;

nav {
  background-color: #5C2482;
  padding: 2rem 3rem;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .logo {
    font-size: 1.1rem;
    font-weight: 700;
    font-family: 'Georgia', serif;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
}


  .nav-links,
  .user-section {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  a {
  position: relative;
  color: #F6F6F6;
  text-decoration: none;
  font-size: 15px;
  font-family: font.$font_poppins;
  font-weight: 400;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #F95B0E;
  }

  &:hover::after {
    width: 100%;
  }

  &:hover {
    color: #ecf0f1; 
  }
}


  .user-name {
    color: #ecf0f1;
    font-weight: 500;
  }

  button {
    background-color: #e74c3c;
    border: none;
    padding: 0.3rem 0.8rem;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #c0392b;
    }
  }
}